{
  "swagger": "2.0",
  "info": {
    "description": "Consulta de DNI y RUC",
    "version": "1.1",
    "title": "PERU CONSULT",
    "contact": {
      "email": "giansalex@gmail.com"
    }
  },
  "host": "consult.api",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "consult",
      "description": "Consultas Perú"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/ruc/{ruc}": {
      "get": {
        "tags": [
          "consult"
        ],
        "summary": "Retorna datos de la empresa",
        "description": "Retorna informacion segun el ruc",
        "operationId": "getByRuc",
        "parameters": [
          {
            "name": "ruc",
            "in": "path",
            "description": "Ruc de la empresa",
            "required": true,
            "type": "string",
            "minLength": 11
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "$ref": "#/definitions/RucResponse"
            }
          },
          "404": {
            "description": "Ruc invalido o no encontrado"
          }
        }
      }
    },
    "/ruc": {
      "post": {
        "tags": [
          "consult"
        ],
        "summary": "Retorna datos de las empresas",
        "description": "Retorna informacion segun los rucs",
        "operationId": "getByRucs",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Lista de Rucs",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "items": {
                "$ref": "#/definitions/RucResponse"
              }
            }
          },
          "404": {
            "description": "No es una lista de rucs"
          }
        }
      }
    },
    "/dni/{dni}": {
      "get": {
        "tags": [
          "consult"
        ],
        "summary": "Retorna datos de la persona",
        "description": "Retorna informacion segun el dni",
        "operationId": "getByDni",
        "parameters": [
          {
            "name": "dni",
            "in": "path",
            "description": "Dni de la persona",
            "required": true,
            "type": "string",
            "minLength": 8
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "$ref": "#/definitions/DniResponse"
            }
          },
          "404": {
            "description": "Dni invalido o no encontrado"
          }
        }
      }
    },
    "/dni": {
      "post": {
        "tags": [
          "consult"
        ],
        "summary": "Retorna datos de las personas",
        "description": "Retorna informacion segun los dnis",
        "operationId": "getByDnis",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Lista de Dnis",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "$ref": "#/definitions/DniResponse"
            }
          },
          "404": {
            "description": "No es una lista de dnis"
          }
        }
      }
    },
    "/graph": {
      "post": {
        "tags": [
          "consult"
        ],
        "summary": "Retorna resultado de GraphQL",
        "description": "Retorna informacion de RUC y/o DNI",
        "operationId": "getByGraph",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "consumes": [
          "text/plain"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Operacion exitosa",
            "schema": {
              "$ref": "#/definitions/QueryResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RucResponse": {
      "type": "object",
      "properties": {
        "ruc": {
          "type": "string"
        },
        "razonSocial": {
          "type": "string"
        },
        "nombreComercial": {
          "type": "string"
        },
        "telefonos": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tipo": {
          "type": "string"
        },
        "estado": {
          "type": "string"
        },
        "condicion": {
          "type": "string"
        },
        "direccion": {
          "type": "string"
        },
        "fechaInscripcion": {
          "type": "string"
        },
        "sistEmsion": {
          "type": "string"
        },
        "sistContabilidad": {
          "type": "string"
        },
        "actExterior": {
          "type": "string"
        },
        "actEconomicas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cpPago": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sistElectronica": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fechaEmisorFe": {
          "type": "string"
        },
        "cpeElectronico": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fechaPle": {
          "type": "string"
        },
        "padrones": {
          "type": "string"
        }
      }
    },
    "DniResponse": {
      "type": "object",
      "properties": {
        "dni": {
          "type": "string"
        },
        "nombres": {
          "type": "string"
        },
        "apellidoPaterno": {
          "type": "string"
        },
        "apellidoMaterno": {
          "type": "string"
        },
        "codVerifica": {
          "type": "string"
        }
      }
    },
    "ErrorQuery": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "line": {
                "type": "integer",
                "format": "int32"
              },
              "column": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      }
    },
    "QueryResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "person": {
              "$ref": "#/definitions/DniResponse"
            },
            "company": {
              "$ref": "#/definitions/RucResponse"
            }
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorQuery"
          }
        }
      }
    }
  }
}